<a href="#" class="card w-full bg-base-100 hover:shadow transition-all duration-500 hover:border-primary border group">
    <div class="card-body">
        <h2 class="card-title">{{ tag.name }}</h2>
        <div class="card-actions justify-end">
            <button class="btn group-hover:btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </button>
        </div>
    </div>
</a>