{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    {{
        component('RegistrationForm', {
            initialFormData: user
        })
    }}

{% endblock %}
