{% extends 'layout.html.twig' %}

{% block content %}
    <div class="flex flex-col gap-5">
        <div class="w-full">
            {{
                component('TicketDetails', {
                    ticket: ticket
                })
            }}
        </div>
        <div class="divider"></div>
        <div class="w-full prose-sm">
            {% if app.user and not ticket.isDone %}
                {{ form_start(form_comment) }}
                    {{ form_row(form_comment.content, {
                        label: 'My comment',
                        label_attr: { class: 'label' },
                        attr: { class: 'textarea textarea-bordered w-full' }
                    }) }}
                    {{ form_rest(form_comment) }}
                    <button type="submit" class="btn btn-submit btn-primary w-full mt-5">Post my comment</button>
                {{ form_end(form_comment) }}
            {% endif %}

            {% for comment in comments %}
                {{ component('Comment', {
                    comment: comment
                }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
