{% extends 'layout.html.twig' %}

{% block content %}

    <div class="grid lg:grid-cols-4 gap-4">
        {% for tag in tags %}
            <twig:Tags:TagCard tag="{{ tag }}" />
        {% endfor %}
    </div>

{% endblock %}