<div class="prose mx-auto" {{ attributes }}>
    <h1 class="text-center">Register</h1>

    {{ form_start(form, {
        attr: {
            class: 'gap-5 form-control',
            'novalidate': true,
            'data-action': 'live#action',
            'data-action-name': 'prevent|register',
        }
    }) }}

        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form_label(form.email) }}</span>
            </label>
            {{ form_widget(form.email, {
                attr: {
                    class: 'input input-bordered w-full'
                }
            }) }}
            <small class="text-error font-bold">{{ form_errors(form.email) }}</small>
        </div>

        <div class="form-control gap-5">
            {% for passwordField in form.password %}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ form_label(passwordField) }}</span>
                    </label>
                    {{ form_widget(passwordField, {
                        attr: {
                            class: 'input input-bordered w-full'
                        }
                    }) }}
                    <small class="text-error">{{ form_errors(passwordField) }}</small>
                </div>
            {% endfor %}
        </div>

        <div class="form-control">
            <label class="cursor-pointer label">
                <span class="label-text">{{ form_label(form.agreeTerms) }}</span>
                {{ form_widget(form.agreeTerms, {
                    attr: {class: 'checkbox'}
                }) }}
            </label>
            <small class="text-error">{{ form_errors(form.agreeTerms) }}</small>
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary w-full" {{ this.hasValidationErrors ? 'disabled' : '' }}>Register</button>
    {{ form_end(form) }}
</div>

