<div class="prose mx-auto" {{ attributes }}>
    <h1 class="text-center">Register</h1>

    {{ form_start(form, {
        attr: {
            class: 'gap-5 form-control',
            'novalidate': true,
            'data-action': 'live#action',
            'data-action-name': 'prevent|create',
        }
    }) }}

        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form_label(form.title) }}</span>
            </label>
            {{ form_widget(form.title, {
                attr: {
                    class: 'input input-bordered w-full'
                }
            }) }}
            <small class="text-error font-bold">{{ form_errors(form.title) }}</small>
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form_label(form.content) }}</span>
            </label>
            {{ form_widget(form.content, {
                attr: {
                    class: 'textarea textarea-bordered w-full'
                }
            }) }}
            <small class="text-error font-bold">{{ form_errors(form.content) }}</small>
        </div>

        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form_label(form.tags) }}</span>
            </label>
            {{ form_widget(form.tags, {
                attr: {
                    class: ''
                }
            }) }}
            <small class="text-error font-bold">{{ form_errors(form.tags) }}</small>
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary w-full" {{ this.hasValidationErrors ? 'disabled' : '' }}>Register</button>

    {{ form_end(form) }}
</div>