{% extends 'layout.html.twig' %}

{% block content %}
    <div class="w-full flex flex-col lg:flex-row">
        <div class="card w-full bg-base-100 text-base">
            <div class="card-body">
                <div class="avatar">
                    <div class="w-60 rounded-full ">
                        <img alt="Tailwind CSS Navbar component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                    </div>
                </div>
                <p>If a dog chews shoes whose shoes does he choose?</p>
            </div>
        </div>
        <div class="card w-full bg-base-100 text-base">
            <div class="card-body">
                <h2 class="card-title">User points</h2>
                <h2 class="text-9xl">{{ app.user.activityPoint }}</h2>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="card border p-14">
        {{ render_chart(chart) }}
    </div>


{% endblock %}